* {
  margin: 0;
  padding: 0;
}

header {
  height: 500px;
  background-color: #1f2937;
}

section.info {
  height: 450px;
}

section.quote {
  height: 400px;
  background-color: #e5e7eb;
}

section.form {
  height: 350px;
}

footer {
  height: 100px;
  background-color: #1f2937;
}

/* header */

/* Navigation bar*/

ul {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  gap: 40px;
}

ul a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo a {
  font-size: 24px;
  color: #f9faf8;
}

.logo {
  margin-right: auto;
}

/* Header welcome */

.welcome {
  display: flex;
  gap: 20px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  margin: 12px 0px;
  padding: 8px 40px;
  font-size: 18px;
  border-color: #3882f6;
  border-radius: 8px;
  color: #e5e7eb;
}

.image {
  flex-basis: 480px;
  flex-shrink: 1;
}

.header-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 250px;
  padding: 15px;
}
